.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.product-container{
   margin: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.cart-container{
   margin-right: 5px;
}

.proceed-link{
   text-decoration: none;
}

.btn-checkout{
    display: flex;
    align-items: center;
    height: 56px;
    width: 90%;
    background-color:  #FF9900;;
    border-radius: 4px;
    margin: 10px auto;
    justify-content: space-between;
}